:root {
    font-family: "eSimvoni", Arial;
    color: white;

    --color-rainbow: 255, 0, 255;
    --color-background-gradient-color: 239, 125, 87;
    --color-background-gradient: linear-gradient(to top, rgba(var(--color-rainbow), 0.25), rgba(var(--color-rainbow), 0.1));
}

@font-face {
    font-family: "eSimvoni";
    src: url('/fonts/simvoni-webfont.woff2') format('woff2'),
         url('/fonts/simvoni-webfont.woff') format('woff');
}

@media (prefers-color-scheme: dark){
    body {color:#fff;background:#000}
}

a {color: rgb(var(--color-rainbow));}
a:hover, a:visited:hover {transition-duration: 100ms; filter: brightness(140%); text-shadow: 0 0 3px rgb(var(--color-rainbow));}
a:visited {filter: brightness(70%);}

body{
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif
}

h1,h2,h3 {
    color: rgb(var(--color-rainbow));
    line-height:1.2
}

@media print{
    body{
        max-width:none
    }
}


#gradient {
    position: fixed;
    background: var(--color-background-gradient);
    background-color: black;

    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;

    z-index: -50;

    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}