body {
    margin : 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --grad: url("images/gradients/rainbow.png");
}

h1, h2 {
    margin-top: .5em;
    margin-bottom: -.25em;
}

div.box>:first-child {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
div.box>:not(:first-child) { /*Remove top border of elements that aren't first so they connect easier*/
    border-top: none !important;
}
div.box>:last-child {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

#background {
    background: var(--grad);
    background-size: cover;
    background-repeat:round;
    width: 110%;
    height: 100%;
    position: fixed;
    z-index: 0;
    pointer-events: none;
    mix-blend-mode: multiply;
}

#checker {
    background-image: url("images/background.png");
    background-position: left 36px top 20px;
    width: 110%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#all {
    height: 100%;
    overflow-y: scroll;
}

#content {
    overflow-x: hidden;
    margin:0em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif;
}

div.box { 
    margin: 1.5em 0 2em 0;

}

div.box>.title h1 {
    color: #1A1C2C;
    margin: 0em 0em 0em .75em;
    word-wrap:break-word;
    font-weight: bold;
}
div.box>.title {

    /*box-shadow: 15px 0 15px -4px #444, -15px 0 15px -4px #444, 0 -15px 15px -4px #444;*/

    border: #fff solid 7px;

    background-color: #fff;
}
div.box>.body {
    padding: 0.2em 1.4em 1em 1.4em;
    font-size: 1em;

    /*box-shadow: 15px 0 15px -8px #444, -15px 0 15px -8px #444, 0 15px 15px -4px #444;*/
    border: #fff solid 7px;

    background-color: #1A1C2C;
    background-color: #16192B;
}

.box>.body>*:not(.passthrough) {
    color:white;
}

.body>:last-child {
    margin-bottom: 0.5em;
}


img {
    isolation: isolate;
}

.imgborder {
    box-shadow: 0 0 6px 6px #777;
    display: inline-block;
}

.container {
    display: flex;
  }
.container_box {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
.container_box:first-child > span { margin-left: auto; margin-right: 0;}
  
.container_box:last-child  > span { margin-right: auto; margin-left: 0; }
