:root {
    image-rendering: pixelated;

    color: white;

    background-color: blue;
}

html, body { 
    background-color: blue;
    margin: 0;   /* Remove body margins */
    cursor : url(images/cursor.png), auto
}
#main-container {
    min-height: calc(100% - 2.2em);
    border: 3px solid white;
    margin: 10px 10px 10px 10px;
}
#main {
    overflow-x: hidden;

    margin:1em auto;
    margin-top: 0;
    margin-bottom: .5em;
    max-width:40em;
    padding:0 .62em;
}

.middle {
    /*align these to the middle horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.dl-button img.emoji {
    top: 0rem;
    height: 3em;
    background-color: blue !important;
}
a.dl-button { border-bottom: none; }
.dl-button {
    display: inline-block;
    vertical-align: middle;
}

.rainbow {
    animation: rainbow 3s step-start infinite;
}

@font-face {
    font-family: 'DOS';
    font-style: normal;
    font-weight: normal;
    src: url('https://ionicabizau.github.io/msdos-editor/assets/css/fonts/Fixedsys500c.eot');
    src: local('☺'), url('https://ionicabizau.github.io/msdos-editor/assets/css/fonts/Fixedsys500c.woff') format('woff'), url('https://ionicabizau.github.io/msdos-editor/assets/css/fonts/Fixedsys500c.ttf') format('truetype'), url('https://ionicabizau.github.io/msdos-editor/assets/css/fonts/Fixedsys500c.svg') format('svg');
}

* {
    font-size: x-large;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
}

::-moz-selection { /* Code for Firefox */
    color: darkblue;
    background: cyan; 
}
  
::selection {
    color: darkblue;
    background: cyan; 
}

img.emoji {
    height: 1.1em;
    position: relative;
    top: -0.2rem;
    vertical-align: middle;
    pointer-events: none;
}

#linkbar {
    background-color: gray;
}

a {
    animation: blinker 1.5s step-start infinite;

    background-color: lightgray;
    color: blue;
    text-decoration: none; transition: filter 100ms, text-shadow 100ms;
}
a:hover {
    background-color: white;
    cursor : url(images/pointer.png) 10 0, auto !important
}
p:hover {
    cursor : url(images/textselect.png), auto
}

fieldset {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

fieldset.foxhr {
    border: 2px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    margin-bottom: -1.1em;
}

fieldset.foxhr legend {
    padding: 5px 10px;
}
  
@keyframes blinker {
    0% {
        color: blue;
        background-color: lightgray;
    }
    50% {
        color: white;
        background-color: gray;
    }
}

@keyframes rainbow {
    0% {
        color: white;
        background-color: darkred;
    }
    20% {
        color: white;
        background-color: #7E7E00;
    }
    40% {
        color: white;
        background-color: darkgreen;
    }
    60% {
        color: white;
        background-color: darkblue;
    }
    80% {
        color: white;
        background-color: darkmagenta;
    }
    100% {
        color: white;
        background-color: darkred;
    }
}