:root {
    font-family: Arial, sans-serif;
    color: white;

    --color-rainbow: 255, 0, 255;
    --rainbow-hue: 0;
    --color-background-gradient-color: 239, 125, 87;
    --color-background-gradient: linear-gradient(to top, rgba(var(--color-background-gradient-color), 0.25), rgba(var(--color-background-gradient-color), 0.1));
}

a {color: rgb(var(--color-rainbow));  text-decoration: none; transition: filter 100ms, text-shadow 100ms;}
a:not(:hover)            {filter: brightness(100%); text-shadow: 0 0 0px rgb(var(--color-rainbow)); border-bottom: 1px dotted;}
a:hover, a:visited:hover {filter: brightness(140%); text-shadow: 0 0 3px rgb(var(--color-rainbow)); border-bottom: 1px solid;}
a:visited {filter: brightness(70%);}


#linkbar span {
    color: rgb(var(--color-rainbow));
}

html {
    width: 100vw;
}

body{
    overflow-x: hidden;

    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif
}

h1,h2,h3,h4,h5,h6 {
    color: rgb(var(--color-rainbow));
    line-height:1;
}

@media print{
    body{
        max-width:none
    }
}

canvas {
    image-rendering: pixelated;
}

table {
    width: 100%;
}
/* Make all items in a table be in the middle horizontally*/
table td {
    text-align: center;
}

#gradient {
    position: fixed;
    background: var(--color-background-gradient);
    background-color: black;

    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;

    z-index: -50;

    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.rainbow {
    color: rgb(var(--color-rainbow));
}

.middle {
    /*align these to the middle horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.rainbowoutline {
    outline: 4px solid rgb(var(--color-rainbow));
}

.dl-button img.emoji {
    top: 0rem;
    height: 3em;
    filter: hue-rotate( calc(var(--rainbow-hue) - 204deg));
}
a.dl-button { border-bottom: none; }
.dl-button {
    display: inline-block;
    vertical-align: middle;
}

hr {
    color: rgb(var(--color-rainbow));
    background-color: rgb(var(--color-rainbow));
    border-color: rgb(var(--color-rainbow));
}

img.emoji {
    height: 1.1em;
    position: relative;
    top: -0.2rem;
    vertical-align: middle;
    pointer-events: none;
}

fieldset.foxhr {
    border: 2px solid rgb(var(--color-rainbow));
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    margin-bottom: -1.1em;
}

fieldset.foxhr legend {
    padding: 5px 10px;
}