html {
    margin : 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

.nobleed {
    isolation: isolate;
    filter: none;
}

::selection {
    isolation: isolate;
    background-color: gray;
    color: white;
}

body {
    margin : 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background-color: black;
    color: white;
}

#main {
    filter:
        blur(0.4px)
        saturate(1.2)
        brightness(1.2);
    background-color: black;
}

#content {
    /* overflow-x: hidden; */
    background-color: black;
    margin: 0em auto;
    margin-bottom: 1em;
    max-width: 55em;
    padding: 0em 1em;
    /* padding: 0 .62em; */
    font: 1.5em monospace;
    z-index: 1;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;

    /* background: url("rainbow.png"); */
    background: var(--grad);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;

    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 0;
}

#grid {
    width: 100%;
    height: 100%;
    position: fixed;

    background: #ffffff url("images/grid.png") repeat right top;
    inset: 0;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 10;
}

.fit {
    width: 100%;
}

img, canvas {
    filter: none;
    isolation: isolate;
    image-rendering: pixelated;
    max-width: 100%;
    /* width: 100%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* boxes */
div.box {
    margin-top: 1em;
    padding: 0em 1em 0em 1em;
    width: auto;
    border: 0.25em solid white;
    /* box-shadow: white 0 0 20px; */
}

div.box div.title {
    margin: 0em -1em 1em -1em;
    padding: 0.25em 1em;
    background-color: white;
    color: black;
}

div.box div.title * {
    margin: 0;
}

/* Navigation bar */
#nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

#nav a {
    /* width: calc(33.33% - 0.2em); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.2em 0em;
    margin: 0.1em;
    text-decoration: none;
    background-color: white;
    color: black;
    /* user-select: none; */
}

#nav a span.edge {
    padding: 0em 0.25em;
}

#nav a:hover {
    background-color: black;
    color: white;
}

