/* Set font and variables */
:root {
    font-family: Simvoni;
    color: white;

    --color-rainbow: 255, 0, 255;
    --color-background-gradient-color: 239, 125, 87;
    --color-background-gradient: linear-gradient(to top, rgba(var(--color-background-gradient-color), 0.25), rgba(var(--color-background-gradient-color), 0.1));

    image-rendering: pixelated;
}

/* html */
html {
    margin: 0;
    padding: 0;
}

/* Define font */
@font-face {
    font-family: Simvoni, sans-serif;
    src: url("Simvoni.ttf");
}

/* Body */
body {
    overflow: scroll;
    overflow: overlay;  
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgb(var(--color-rainbow));
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* My really hacky solution for a gradient background... it works though... */
#gradient {
    position: fixed;
    background: var(--color-background-gradient);
    background-color: black;

    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;

    z-index: -50;

    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

/* Make all headers have a cool rainbow effect */
h1, h2, h3, h4, h5, h6 {
    color: rgb(var(--color-rainbow));

    text-align: center;

    margin: 0.25em;
}
/* Set header sizes */
h1 { font-size: 5em; }
h2 { font-size: 2.5em; }

/* Text */
p { 
    /* Increase paragraph gap */
    margin-top: 1em ;
    margin-bottom: 1em ;

    /* Increase line height */
    line-height: 130%;

    font-size: 1.5em; /* Font size */

    width: 50rem;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    
    word-wrap: break-word;
}

/* Container for the main bit*/
#container {
    justify-content: space-between;

    flex-wrap: nowrap;

    display: flex;
}


/* Flying fox heads!! */
#fly-holder {
    overflow: hidden;
    position: fixed;
    z-index: -49;
}

.foxhead {
    position: inherit;

	display: block;

	padding: 0;
	margin: 0;

	width: 7rem;
	height: 7rem;

    left: -7rem;

    background-size: 7rem;

	background-image: url(foxhead.png);

    overscroll-behavior: contain;
}

@keyframes foxFromL {
    from {
        left: -7rem;
    }
    to {
        left: 100%;
    }
}
@keyframes foxFromR{
    from {
        left: 100%;
    }
    to {
        left: -7rem;
    }
}

.foxhead.foxr { animation: foxFromR 3s linear; }
.foxhead.foxl { animation: foxFromL 3s linear; }
