:root {
   /*--h: -100px;*/
   font-family: "Roboto", sans-serif;
}
html {
    overflow-y: visible;
    overflow-x: hidden;

    margin: 0;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #D473D4, #62D4D4);

    color: white;
}
#background {
    margin: 1em auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 50em;
    padding: 0.62em;
}

body {
    margin : 0;
    padding: 0;
    background-image: url("images/background.png");
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-position: right 36px top 20px;

}

p {
    margin-top: 0.5em;
    font-weight: 500;
}

div.box .title h1 {
    font-size: 2.5em;
    margin: .7em .7em .3em .9em;
    word-wrap:break-word;
    line-height: 1.2em;
}
div.box .title {
    margin: 1em 0 0 0;
    border-radius: 60px 60px 0 0;
    border: solid black .3em;
    color: #1A1C2C;
    border-image: url("border-top.png") 15 fill;
    border-image-width: 45px;
    background-color: #EE70B5;
}
div.box .body {
    margin: 0em 0 2em 0;
    border-radius: 0 0 60px 60px;
    border: solid black .3em;
    color: #1A1C2C;
    font-size: 1.5em;

    padding: 1em 1.4em 1em 1.4em;
    border-image: url("border.png") 15 stretch stretch;
    border-image-width: 45px;
    background-color: #FFBCEC;
}

div.box.purple .title {
    border-image: url("images/border-purple-top.png") 15 stretch stretch;
    border-image-width: 45px;
    background-color: #B570EE;
}

div.box.purple .body {
    border-image: url("images/border-purple-bottom.png") 15 stretch stretch;
    border-image-width: 45px;
    background-color: #ECBCFF;
}

div.box.pink .title {
    border-image: url("images/border-pink-top.png") 15 stretch stretch;
    border-image-width: 45px;
    background-color: #EE70B5;
}
div.box.pink .body {
    border-image: url("images/border-pink-bottom.png") 15 stretch stretch;
    border-image-width: 45px;
    background-color: #FFBCEC;
}

div.box.blue .title {
    border-image: url("images/border-blue-top.png") 15 stretch stretch;
    border-image-width: 45px;
    background-color: #70B5EE;
}
div.box.blue .body {
    border-image: url("images/border-blue-bottom.png") 15 stretch stretch;
    border-image-width: 45px;
    background-color: #BCECFF;
}